<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>__TITLE__</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="lib/iview.css">
  <link rel="stylesheet" href="src/styles/base.css">
  <script src="lib/vue.min.js" defer></script>
  <script src="lib/vue2-sfc-loader.js" defer></script>
  <script src="lib/screen-scale.js" defer></script>
  <script src="lib/iview.min.js" defer></script>
  <script src="lib/echarts.min.js" defer></script>
  <script src="src/main.js" defer></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
